<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolxtc.answer">

    <application
        android:name=".AnswerApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="ModuleAnswer"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.AnswerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>