<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolxtc.answer">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.AnswerActivity" />
    </application>

</manifest>