<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolxtc.dev">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.DevActivity" />
    </application>

</manifest>